---
import { Debug } from "astro/components";
import Nav from "../components/Nav.astro";
import FilterNav_alterna from "../components/FilterNav_alterna.astro";
import PedalCard from "../components/PedalCard.astro";
//import FilterNav from "../components/FilterNav.astro";
import "../styles/global.css";
const url = `${import.meta.env.PUBLIC_SUPABASE_URL}/rest/v1/pedals`;

const options = {
  headers: {
    apikey: import.meta.env.PUBLIC_SUPABASE_ANON_KEY,
  },
};
const response = await fetch(url, options);
const myJson = await response.json();
---

<html lang="en">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>

  <body>
    <details class="debugger">
      <summary>o</summary>
      <div class="debugContainer">
        <Debug {myJson} />
      </div>
    </details>
    <main>
      <nav>
        <Nav />
        <FilterNav_alterna {myJson} />
      </nav>
      <section class="card_container">
        {myJson.map((element) => <PedalCard jsonObj={element} />)}
      </section>
    </main>
  </body>
</html>
